body{
  

  font-family: "Inter", sans-serif; 
   font-optical-sizing: auto;
  
}  


*{
    padding: 0;
    margin: 0;
}
/* Share Style */
.btn{
margin-top: 24px;
margin-right: 120px;
background-color: #30B868;
padding: 10px;
color: white;
border-radius: 5px;
border-style: none;
cursor: pointer;
}
.btn:hover{
    background-color: blueviolet;
}
header{
    display: flex;
    justify-content: space-between;
    margin-left: 120px;
}
header div img{
    margin-top: 16px;
}

nav ul{
    display: flex;
    gap: 20px;
    margin-top: 34px;
}
nav ul li{
    list-style-type: none;
}
nav ul li a{
    text-decoration: none;
}