body{
  

  font-family: "Inter", sans-serif; 
   font-optical-sizing: auto;
  
}  


*{
    padding: 0;
    margin: 0;
}
/* Share Style */
.btn{
margin-top: 24px;
margin-right: 120px;
background-color: #30B868;
padding: 10px;
color: white;
border-radius: 5px;
border-style: none;
cursor: pointer;
}
.btn:hover{
    background-color: blueviolet;
}
header{
    display: flex;
    justify-content: space-between;
    margin-left: 120px;
}
header div img{
    margin-top: 16px;
}

nav ul{
    display: flex;
    gap: 20px;
    margin-top: 34px;
}
nav ul li{
    list-style-type: none;
}
nav ul li a{
    text-decoration: none;
}

.dot1{
    width: 18px;
    height: 18px;
    background-color: rgb(133, 211, 133);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dot2{
    width: 10px;
    height: 10px;
    background-color: rgb(1, 226, 1);
    border-radius: 50%;

}
.earlybtn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    border-radius: 30px;
    width: 350px;
    height: 50px;
    border: 1px solid black;
    outline: none;
    margin: 0 auto;
    background:white;
    cursor: pointer;
}
.earlybtn:hover{
    background: pink;
}
.Access{
    color: rgb(63, 228, 63);
    margin-left: 7px;
}
.banner{
    background-image: url('./assets/hero-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    padding-top: 60px;
}
.bannerTitle1{
    text-align: center;
    margin-top: 20px;
    font-style: Bold;
    color: white;
    font-size: 72px;
}
.bannerTitle2{
    text-align: center;
    margin-top: 6px;
      font-style: Bold;
    font-size: 72px;
    color: rgba(48, 184, 104, 1)
}
.bannerTitle3{
    color: white;
    text-align: center;
    margin-top: 10px;
}
.startBtn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    

}
.btn2{
    /* margin-right: 50px; */
    background:none;
    color: white;
    border: 1px solid white;
}

.noteTitle1{
font-style: Bold;
text-align: center;
margin-top: 10px;
font-size: 48px;
font-weight: 700; 
}
.note{
    text-align: center;
    margin-top: 10px;
}
.img1{
    background: rgba(249, 85, 85, 1);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    margin-bottom: 5px;
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 20px;
}
.cardItem{ 
    width: 325px;
    height: 200px;
    padding-top: 40px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
    background: rgba(255, 255, 255, 1);
}

.noteSection{
    margin-top: 20px;
    width: 1300px;
    margin:  0 auto;
 
}
.notetitle{
    font-size: 25px;
    margin-top: 4px;
    margin-bottom: 5px;
}

.brainSection{
    width: 1300px;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    padding: 40px;
    gap: 15px;
   
}
.solution{
    color: #30B868;
    margin-bottom: 15px;
}
.braineTitle{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 10px;
}
.squarebtn{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: green;
    padding: 5px;
   
}
.squarebtn i{
    color: white;
}
.checkbox{
    display: flex;
    margin-top: 20px;
   align-items: center;
    gap: 6px;
}
.checkboxSection{
    margin-top: 60px;
}
.thinkSection{
    width: 1300px;
    margin-top: 20px;
    height: 385px;
    background-color: #F7F6F2;
    margin: 0 auto;
    
}
.thinkTitle{
text-align: center;
font-size: 40px;
font-weight: bold;
margin-bottom: 10px;
}
.thinkNote1{
text-align: center;
}
.thinkNote2{
text-align: center;
}
.arrowbtn{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.thinkMore{
    padding: 80px;
}